@font-face {
  font-family: "graphik";
  src: url("../fonts/_Graphik-400.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "graphik";
  src: url("../fonts/_Graphik-500.woff2") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "graphik";
  src: url("../fonts/_Graphik-600.woff2") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "graphik";
  src: url("../fonts/_Graphik-700.woff2") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
