:root {
  --main-color: #16bf54;
  --tag-color: #7ae1f2;
  --tag-select-color: #ffe079;
  --secondary-color: #1d1d1f;
  --text-color: #1d1d1f;
  --white-color: #ffffff;
  --black-color: #000000;
  --bg-color: #cef8ff;
  --font-graphik: "graphik", Arial, sans-serif;
  --border-color: rgba(0, 0, 0, 0.1);
  --box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
  --gap: 4px;
  --border-radius: 4px;
}
